* {
  margin: 0;
  padding: 0;
}

body {
<<<<<<< HEAD
  background-color: #f9f6f2;
=======
  margin: 100px;
}

header {
  text-align: center;
  margin: 25px;

}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  /* margin: 0px 100px;
  padding: 5px 50px 5px 2px; */
  width: 250px;
  margin: 0px 50px;
  padding: 5px 0px 5px 2px;
  border: dotted 1px black;
>>>>>>> e8d013d610820d08f36279e530b6f33ef9000795
}
