* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f6f2;
  
}

/* COLOR SCHEME
blue: #0B5F73
white: #f9f6f2
creme: #f1d6ab
brown: #a0855b
green: #38470b */

header {
  text-align: center;
  margin: 25px;
}

h1 {
  font-family: 'Playfair Display', serif;
  /* font-family: 'Prata', serif; */
  font-weight: lighter;
  color: #38470b;
  font-size: 4em;
}

.coffee-container {
  width: 1050px;
  border: 5px solid #f1d6ab;
  margin: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  /* margin: 0px 100px;
  padding: 5px 50px 5px 2px; */
  width: 300px;
  margin: 25px 0px;
  padding: 10px 0px 10px 10px;
  border: 2px solid #f1d6ab;
}

section:hover {
  background-color: #f1d6ab;
}

.shop {
  text-align: center;
}

h3 {
  text-align: center;
}

li {
  list-style: none;
}

.address {
  font-style: italic;
}

img {
  width: 150px;
  padding: 5px 0px;
}
